<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<link href="css/hover-min.css" rel="stylesheet" type="text/css">
		<link href='css/style.css' rel='stylesheet'>
		<link rel="shortcut icon" href="img/favicon.ico">
		<script type="text/javascript" src="script/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="script/myjavascript.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="script/app.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="script/ScrollToPlugin.js" type="text/javascript"></script>

		<title>Portofolio di Flavio</title>
	</head>
	<body ng-app="mailApp">
		<!-- Sidebar -->
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<h1>Portfolio di
				<br>
				Flavio Colonna Romano</h1>
				<ul class="sidebar-nav">
					<li>
						<a id="about-link">Chi sono</a>
					</li>
					<li>
						<a id="project-link">Progetti</a>
					</li>
					<li>
						<a id="subjects">Esperienze</a>
					</li>
					<li>
						<a id="contact-link">Contatti</a>
					</li>
				</ul>
			</div>
			
			<div id="page-content-wrapper">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-sm-12" id="bar-menu">
							<i class="fa fa-bars fa-2x btn-lg pull-left" id="menu"> MENU</i>
							<h4 class="pull-right">Flavio Colonna Romano</h4>
						</div>
					</div>
					<div class="row" id="about-me">
						<img src="img/night-miami.jpeg" id="back">
						<div class="col-sm-9 pull-left">
							<h1 class="text-center"><img src="img/curriculum.png"> CHI SONO</h1>
							<p>
								Mi chiamo Flavio Colonna Romano, ho 21 anni e mi dedico alla programmazione Java e Front-end.
							</p>
							<p>
								Attualmente sono uno studente di <q>Informatica per il management</q>, al terzo anno dell'Università di Bologna.
							</p>
							<p>
								Lavoro come programmatore Front-end della piattaforma <a href="www.sgnam.it">Sgnam</a>.
							</p>
							<p>
								Mi piace molto praticare sport ed essere sempre in movimento. Mi piace viaggiare e incontrare nuove persone.
							</p>
							<p>
								La mia passione per la programmazione nacque tre anni fa, quando mi iscrissi al corso di studi che attualmente sto frequentando.
							</p>
							<p>
								Questa mia passione mi spinge a voler imparare sempre di più, cimentandomi in programmazione sia per mobile con Android e programmazione Front-end per il Web.
							</p>
							<p>
								E' possibile visualizzare il mio curriculum vitae <a href="file/CurriculumFlavio.pdf" target="blank">qui.</a>
							</p>
						</div>
						<div class="col-sm-3 pull-right" id="me-descr">
							<img src="img/me-new.jpg" id="me">
							<h4 style="font-size:200%">Flavio Colonna Romano</h4>
							<ul class="list-inline social-buttons">
								<li>
									<a href="https://twitter.com/FlavioColonnaR" target="blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://www.facebook.com/flavio.colonna" target="blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://www.linkedin.com/pub/flavio-colonna-romano/85/b15/6a" target="blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="https://plus.google.com/u/0/103829176686936074299/about/p/pub" target="blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="https://github.com/JavaCoderDev" target="blank"><i class="fa fa-github"></i></a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="row" id="experiences">
						<h1>ESPERIENZE</h1>
						<div class="col-sm-3">
							<h3>Content management system</h3>
							<p>
								Nel campo dei CMS, la mia esperienza a Odense, mi ha dato la possibilità di imparare ad utilizzare Drupal.
							</p>
							<p>
								Drupal è uno dei CMS più evoluti, open source e molto versatile.
							</p>
							<p>
								Ho creato un portfolio in Drupal, apportando modifiche a file css e php.
							</p>
							<p>
								Ho creato un modulo ed effettuato alcune modifiche ai temi già disponibili su Drupal.
							</p>
							<p>
								E' possibile visitare il mio portofolio andando sulla sezione progetti.
							</p>
						</div>
						<div class="col-sm-3">
							<h3>Front-end</h3>
							<ul>
								Le mie conoscenze nel campo della programmazione front-end sono:
								<li>
									HTML e HTML5
								</li>
								<li>
									CSS
								</li>
								<li>
									JAVASCRIPT
								</li>
								<li>
									ANGULAR
								</li>
								<li>
									React.JS
								</li>
								<li>
									BOOTSTRAP
								</li>
								<li>
									JQUERY
								</li>
								<li>
									JQUERY MOBILE
								</li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>Back-end</h3>
							<ul>
								Le mie conoscenze nel campo della programmazione back-end sono:
								<li>
									PHP
								</li>
								<li>
									SQL
								</li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>User Experience</h3>
							<p>
								Nel campo della user experience ho avuto la possibilità di studiare e apprendere:
								<ul>
									<li>
										Sketching
									</li>
									<li>
										User and Context research
									</li>
									<li>
										Information architecture
									</li>
									<li>
										Interaction design
									</li>
									<li>
										Graphical design and aesthetics
									</li>
									<li>
										Usability and tests
									</li>

								</ul>
							</p>
						</div>
					</div>
					<div class="row" id="experiences2">
						<div class="col-sm-6">
							<h3>Java</h3>
							<p>
								Ho esperienze nel campo della programmazione desktop in linguaggio Java inerenti il corso di studi.
							</p>
							<p>
								Ho fatto due progetti importanti quali per esempio la creazione di un servizio bancario con interfaccia per il desktop
								e un servizio di gestione degli ordini all'interno di un ristorante.
							</p>
						</div>
						<div class="col-sm-6">
							<h3>Software</h3>
							<ul>
								Di seguito elenco i software che ho utilizzato in ambito di programmazione e progettazione:
								<li>
									Netbeans
								</li>
								<li>
									Eclipse
								</li>
								<li>
									AptanaStudio
								</li>
								<li>
									Balsamiq mockup
								</li>
								<li>
									MySqlWorkbench
								</li>
								<li>
									Filezilla
								</li>
								<li>
									Git
								</li>
							</ul>
						</div>
					</div>
					<div class="row" id="progetti">
						<h1>PROGETTI</h1>
						<div class="col-sm-4 hvr-overline-from-left" id="progetto1">
							<h3 id="project-name">Flavio's Portfolio</h3>
							<img src="img/progetto.png">
							<h4>Content management system</h4>
							<p id="descrizione">
								Creazione di un portfolio in inglese, basato su Drupal.
							</p>
							<a href="http://dev-flavios-portfolio.gotpantheon.com/" target="blank" id="link"><i class="fa fa-link"></i> Vai al sito</a>
						</div>
						<div class="col-sm-4">
							<img >
						</div>
					</div>
					<div class="row" id="contact">
						<h1>CONTATTI</h1>
						<div class="col-sm-6" ng-controller="ContactController">
							<form role="form" action="" ng-submit="submit()" method="post">
								<strong>Campo richiesto <i class="glyphicon glyphicon-ok "> </i></strong>
								<div class="form-group">
									<br>
									<label>Il tuo nome</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-model="formData.inputName" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }" name="inputName" id="InputName" placeholder="Inserisci nome" required>
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputEmail">La tua email</label>
									<div class="input-group">
										<input type="email" class="form-control" ng-model="formData.inputEmail" id="InputEmail" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }" name="inputEmail" placeholder="Inserisci Email" required  >
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputObject">Oggetto</label>
									<div class="input-group">
										<input name="inputObject" id="InputObject" ng-model="formData.inputObject" ng-class="{ 'has-error': contactform.inputObject.$invalid && submitted }" placeholder="Oggetto" class="form-control" rows="5" required>
										</input>
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputMessage">Messaggio</label>
									<div class="input-group">
										<textarea name="inputMessage" id="InputMessage" ng-model="formData.inputMessage" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }" placeholder="Inserisci messaggio" class="form-control" rows="5" required></textarea>
										<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
									</div>
								</div>
								<input type="submit" name="submit" id="submit" ng-disabled="submitButtonDisabled" value="Submit" class="btn btn-info pull-right">
							</form>
							<div id="messages" ng-show="message">
								{{ resultMessage }}
							</div>
						</div>
						<div class="col-sm-5 col-sm-push-1">
							<address>
								<p class="lead">
									<span class="glyphicon glyphicon-map-marker"></span>
									Bologna, Italia
									<br>
									<span class="fa fa-envelope-o"></span>
									colonnaromanoflavio@gmail.com
								</p>
							</address>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91065.04792678951!2d11.331685499999999!3d44.4991182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fd498e951c40b%3A0xa2e17c015ba49441!2sBologna!5e0!3m2!1sit!2sit!4v1421011171780" width="100%" height="300" frameborder="0" style="border:0"></iframe>
						</div>
					</div>
					<div class="row" id="footer">
						<div class="col-sm-12">
							<h3>SOCIAL LINKS</h3>
							<ul class="list-inline social-buttons">
								<li>
									<a href="https://twitter.com/FlavioColonnaR" target="blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://www.facebook.com/flavio.colonna" target="blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://www.linkedin.com/pub/flavio-colonna-romano/85/b15/6a" target="blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="https://plus.google.com/u/0/103829176686936074299/about/p/pub" target="blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="https://github.com/flaviocolonna" target="blank"><i class="fa fa-github"></i></a>
								</li>
								<li>
									<a href="https://bitbucket.org/flaviocolonna" target="blank"><i class="fa fa-bitbucket"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow40.js"></script>
		<noscript>
			Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.
		</noscript>

	</body>
</html>
